*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
   
    font: inherit;
}

body {
    min-height: 100vh;
    background: linear-gradient(150deg, #0134a1, #d4d4d4, #01215e);
    color: #2f3449;
    font-family: "Poppins", sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: flex;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}